body{background-color: #fff0f5}
div{text-align:center}
.title{color: #ffb6c1;}
.title{text-align:center}
img{height: 400px;}
p {color: black;}
.名前{font-size: 30px}
.出身地{font-size: 30px}
.border{border: 10px solid #ffd700}
.好きな食べ物{color: #ffa500;}
.tacorice{height: 300px;}
.desert{height: 300px;}
.yumm{height: 300px;}
.趣味{color: #ffa500;}
.趣味{font-size: 25px;}
.dog{height: 300px;}
.photoshoot{height: 300px;}
.hike{height: 300px;}
.explore{height: 300px;}
.photoshoot2{height: 300px;}